*{
    box-sizing: border-box;
    margin: o;
    padding: o;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: rgb(118, 57, 57);
    color: rgb(113, 137, 158);
    text-align: center;
}
header{
    background-color: midnightblue;
    color: aliceblue;
    padding: 1rem;
    text-align: center;
}

nav a{
    color: aliceblue;
}
.nav{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.product{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    justify-content: center;
}
.card img{
    width: 100%;
    border-radius: 5PX;
}
.card{
    background-color: rgba(195, 209, 185, 0.174);
    border-radius: 5px;
    padding: 0rem;
    width: 250px;
    text-align: center;
}
footer{
    background-color: midnightblue;
    text-align: center;
    margin: 1rem;
    padding: 1rem;


}
.searchbar input{
    width: 500px;
    justify-self: center;
    border-radius: 250px;
    background-color: aliceblue;
    color: black;
    padding: 15px;
    font-size: 16px;
}
.searchbar {
    flex: 1;
    padding: 20px;
    font-size: 16px;
    border: 2px;
    outline: invert;
   
}
.searchbar button{
   padding: 16px;
   border-radius: 250px;
   font-size: 16px;
}
 h1{
    text-decoration: underline;
    text-align: center;
}
.register{
    width: 350px;
    text-align: center;
    margin: 500px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.register h1{
    display: inline;
}
.register label{
    display: block;
    font-size: 28px;
   
}
.register input{
    padding: 5px;
    width: 300px;
    border-radius: 7px;
}
.reg{
    width: 100%;
    padding: 10px;
    font-size: 14px;
}
.register button{
    padding: 7px;
    border-radius: 7px;
}
.register button:hover{
    background: scroll;
    background-color:gray;
    
}
